


  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <h2>RendezVous</h2>

      </div>
    </div>
  </div>

  <div class="row"></div>
  <div class="col-md-12">
    <div class="card" class="text-center">
      <div class="col-md-8" id="htmlData"></div>
      
        <div class="row">

          <div class="col-md-6">
            <div>
              <form>
              <label>RendezVous date</label>
            <!-- </div> -->
            <!-- <input matInput placeholder="nom" type="text" [(ngModel)]="RendezVous.nom"> -->
            <input matInput type="date" name="nom" [(ngModel)]="RendezVous.date" class="form-control">

          <!-- </div> -->

        <!-- </div> -->
        <div class="row">
          <div class="col-md-6">
            <div>
              <label>RendezVous sujet </label>
            </div>

            <input matInput type="text" name="nombre inscri" [(ngModel)]="RendezVous.sujet" class="form-control">

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- <div>
              <label>RendezVous date</label>
            </div>

            <input matInput type="date" name="date RendezVous" [(ngModel)]="RendezVous.dateRendezVous" class="form-control">

          </div>

        </div> -->
        <!-- <div class="row">
          <div class="col-md-6">

            <label>Select a category</label>
            <select [(value)]="selectedtype" [(ngModel)]="RendezVous.date" class="form-control">
              <option>None</option>
              <option value="sport"> Sport</option>
              <option value="musique">Music</option>
              <option value="theatre">Theatre</option>
            </select>
          </div>
        </div> -->
        <div>
          <a routerLink="/rendezvous"><button mat-raised-button type="submit" class="btn btn-danger pull-right"
              (click)="create()">Create RendezVous</button> </a>
        </div>
        <div class="clearfix"></div>
      <!-- </form> -->
      <!-- <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openPDF()">Download PDF</button> -->

    </div>
  </div>
  <!-- <div>
                <ng-template #content let-modal>
                  <div class="modal-body">
                    <app-add-form
                    (submit)="create($RendezVous)"
                    ></app-add-form>
                  </div>
                </ng-template>
           </div> -->

<!-- </body> -->

